html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.container {
  background-color: #e8e8e8;
  min-height: 100vh;
  padding-top: 60px; }

nav {
  background-color: #054566;
  text-align: left; }
  nav .navbar-brand {
    width: 300px; }
  nav .navbar-brand {
    font-size: 2.3em;
    color: #E3B231;
    font-weight: 700;
    text-shadow: 2px 2px 2px #A12400; }
  nav ul {
    padding: 0;
    margin: 0; }
  nav li {
    margin: 0;
    padding: 0; }
    nav li a {
      color: #E3B231;
      text-shadow: 2px 2px 2px #A12400; }
    nav li.links-transparent {
      font-size: 1.1em;
      font-weight: bold; }
      nav li.links-transparent a:hover {
        background-color: #E3B231;
        text-shadow: none;
        color: #054566; }
    nav li.logged-in-as {
      text-align: center;
      margin: 5px; }
      nav li.logged-in-as p {
        width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 0;
        color: white; }

body, html {
  font-family: 'Cardo', serif; }

#content {
  text-align: center; }

input {
  width: 300px; }

img {
  max-height: 500px; }

#results {
  display: flex;
  flex-wrap: wrap; }
  #results .box {
    padding: 0;
    margin-top: 8px; }
  #results .thumbnail {
    padding: 10px;
    padding-bottom: 50px;
    margin: 4px;
    font-weight: 700;
    font-size: 20px;
    background-color: #fffef7;
    border: none;
    height: 100%; }
    #results .thumbnail p.caption {
      color: #333333; }
    #results .thumbnail .thumb-button {
      position: absolute;
      bottom: 10px;
      left: 50%;
      margin-left: -43px;
      background-color: #054566;
      border: none; }

.modal .btn-primary {
  background-color: #054566;
  border: none; }

.modal .modal-description {
  text-align: left; }
  .modal .modal-description .year {
    font-size: 1.4em;
    font-weight: bold; }
  .modal .modal-description #movieInfo p {
    font-weight: bold;
    font-size: 1.3em; }
    .modal .modal-description #movieInfo p span {
      font-weight: normal; }

#previous, #next {
  margin: 10px;
  background-color: #B3000F;
  border: none; }

.hidden {
  display: none; }

#personalContainer {
  text-align: center; }
  #personalContainer .refineButton {
    border: 2px solid transparent;
    background-color: #054566;
    color: white; }
    #personalContainer .refineButton:hover {
      border: 2px solid #E3B231; }
    #personalContainer .refineButton.selected {
      color: #E3B231;
      border: 2px solid #E3B231; }
