html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.container-fluid {
  margin: 0 8px; }

.container {
  background-color: #e8e8e8;
  min-height: 100vh;
  padding-top: 60px;
  padding-bottom: 40px; }

nav {
  background-color: #054566;
  text-align: left; }
  nav #logo {
    height: 40px;
    padding: 0 10px 10px 10px;
    display: inline-block; }
  nav .navbar-brand {
    font-size: 2.3em;
    color: #E3B231;
    font-weight: 700;
    text-shadow: 2px 2px 2px #A12400;
    padding: 0;
    line-height: 50px; }
  nav .fa-align-justify {
    color: #E3B231; }
  nav ul {
    padding: 0;
    margin: 0; }
  nav li {
    margin: 0;
    padding: 0; }
    nav li a {
      color: #E3B231;
      text-shadow: 2px 2px 2px #A12400; }
    nav li.links-transparent {
      font-size: 1.1em;
      font-weight: bold; }
      nav li.links-transparent a:hover {
        background-color: #E3B231;
        text-shadow: none;
        color: #054566; }
    nav li.logged-in-as {
      text-align: center;
      margin: 5px; }
      nav li.logged-in-as p {
        width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 0;
        color: white; }

body, html {
  font-family: 'Cardo', serif; }

#content {
  text-align: center; }

input {
  width: 300px;
  border: 1px solid #054566; }

img {
  max-height: 500px; }

#errorField {
  text-align: center;
  margin-top: 15px; }

#searchButton {
  border: 1px solid #E3B231;
  color: #E3B231;
  background-color: #054566;
  font-weight: 800; }

#results {
  display: flex;
  flex-wrap: wrap; }
  #results .box {
    padding: 0;
    margin-top: 8px; }
  #results .thumbnail {
    padding: 10px;
    padding-bottom: 50px;
    margin: 4px;
    font-weight: 700;
    font-size: 20px;
    background-color: #fffef7;
    border: none;
    height: 100%; }
    #results .thumbnail p.caption {
      color: #333333; }
    #results .thumbnail .thumb-button {
      position: absolute;
      bottom: 10px;
      left: 50%;
      margin-left: -43px;
      background-color: #054566;
      border: none; }

.sk-folding-cube {
  margin: 50px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg); }

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg); }

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg); }

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg); }

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

.modal .btn-primary {
  background-color: #054566;
  border: none; }

.modal .modal-description {
  text-align: left; }
  .modal .modal-description .year {
    font-size: 1.4em;
    font-weight: bold; }
  .modal .modal-description #movieInfo p {
    font-weight: bold;
    font-size: 1.3em; }
    .modal .modal-description #movieInfo p span {
      font-weight: normal; }

#previous, #next {
  margin-top: 15px;
  margin-bottom: 40px;
  background-color: #B3000F;
  border: none;
  margin-right: 10px; }

.hidden {
  display: none; }

#personalContainer {
  text-align: center; }
  #personalContainer .refineButton {
    background-color: white;
    color: black;
    border: 2px solid #E3B231; }
    #personalContainer .refineButton:hover {
      color: #E3B231;
      background-color: #054566; }
    #personalContainer .refineButton.selected {
      color: #E3B231;
      background-color: #054566; }
  #personalContainer #personalResults {
    margin-top: 15px;
    font-size: 2em; }
    #personalContainer #personalResults .panel {
      height: 64px;
      line-height: 64px;
      width: 60%;
      position: relative;
      margin: 10px auto;
      padding: 0 10px;
      border-radius: 0;
      text-align: left;
      overflow: hidden; }
      #personalContainer #personalResults .panel span {
        display: inline-block; }
      #personalContainer #personalResults .panel .btn {
        padding: 0;
        border-radius: 0;
        width: 25px;
        background-color: white; }
      #personalContainer #personalResults .panel .delete-button {
        position: absolute;
        top: 0;
        right: 0;
        height: 49%;
        color: red; }
      #personalContainer #personalResults .panel .watched-button {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 49%;
        color: black; }
    #personalContainer #personalResults #refineLabel {
      font-size: 0.8em; }
    #personalContainer #personalResults .panel-false {
      border: 2px solid #E3B231; }
    #personalContainer #personalResults .panel-true {
      border: 2px solid #054566; }

#mostAddedContainer .panelLink {
  color: inherit;
  text-decoration: inherit; }

#mostAddedContainer h2 {
  text-align: center; }

#mostAddedContainer .panel {
  width: 70%;
  margin: 10px auto;
  font-size: 1.5em;
  border: 2px solid transparent; }
  #mostAddedContainer .panel:hover {
    border: 2px solid #E3B231; }
  #mostAddedContainer .panel .insidePanel {
    padding: 10px; }
