<nav class="navbar navbar-transparent navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-light navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <i class="fas fa-align-justify fa-lg"></i>
      </button>
      <a class="navbar-brand" href="#home"><img id="logo" class="logo-hide" src="/images/MustWatchLogo.png" />Must-Watch List</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul id="nav-links" class="nav navbar-nav navbar-right">
        <li class="links-transparent"><a class="active" href="/movies">Search</a></li>
        <li class="links-transparent"><a href="/movies/top">Most Added</a></li>
        <% if (!user) { %>
        <li class="links-transparent"><a href="/users/login">Sign In</a></li>
        <li class="links-transparent"><a href="/users/register">Register</a></li>
        <% } else { %>
        <li class="links-transparent"><a href="/mylist">My List</a></li>
        <li class="links-transparent"><a href="/users/logout">Sign out</a></li>
        <li class="logged-in-as"><p>Logged in as</p><p><%= user.username %></p></li>
        <% } %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Flash messages -->
<% if (success_msg.length !== 0) { %>
  <div class="alert alert-success"><%= success_msg %></div>
<% } %>
<% if (error_msg.length !== 0) { %>
  <div class="alert alert-danger"><%= error_msg %></div>

<% } %>
<% if (error.length !== 0) { %>
  <div class="alert alert-danger"><%= error %></div>
<% } %>