<!DOCTYPE html>

<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="/styles/css/landing.css">
		<link rel="stylesheet" type="text/css" href="/styles/css/bootstrap.min.css">
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
	</head>
	<body>
		<header id="landing-header">
			<h1>Welcome to Must-Watch List!</h1>
			<a href="/movies" class="btn btn-lg btn-success">Get Started</a>
		</header>
		<ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

	</body>
</html>